<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form">
                <span class="login100-form-logo">
                </span>

                <span class="login100-form-title p-b-34 p-t-27">
                    Log in
                </span>

                <div class="wrap-input100 validate-input" data-validate = "Enter username">
                    <input [(ngModel)]="username" class="input100" type="text" name="username" placeholder="Username">
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    <input [(ngModel)]="password" class="input100" type="password" name="pass" placeholder="Password">
                </div>

                <div class="container-login100-form-btn">
                    <button (click)="login()" class="login100-form-btn">
                        Login
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>