<div class="main-wrapper">
  <div>Enter new Password</div>
  <div>Password requires</div>
  <div>
    <ul>
      <li>
        1 Capital
      </li>
      <li>
        1 Special Character
      </li>
      <li>
        1 Number
      </li>
      <li>
        Longer than 8 characters
      </li>
    </ul>
  </div>
  <div>
<mat-form-field>
  <mat-label>Password</mat-label>
  <input matInput type="password" (keyup)="checkSubmitStatus(password, confpassword)" [(ngModel)]="password" />
</mat-form-field>
<mat-form-field>
  <mat-label>Confirm Password</mat-label>
  <input matInput type="password" (keyup)="checkSubmitStatus(password, confpassword)" [(ngModel)]="confpassword" />
</mat-form-field>
</div>
</div>
<div style="text-align: center;">
  <button class="marginLeftItem" [disabled]="disableSubmit" mat-raised-button (click)="sumbitAnswer()">Submit</button>
  <button style="margin-left: 40%;" class="marginLeftItem" mat-raised-button matDialogClose>Close</button>
</div>