<div style="text-align: center;">
    <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="username" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Code</mat-label>
        <input matInput [(ngModel)]="code" />
      </mat-form-field>
  </div>
      <div style="text-align: center;">
        <button class="marginLeftItem" mat-raised-button (click)="sumbitAnswer()">Submit</button>
        <button style="margin-left: 40%;" class="marginLeftItem" mat-raised-button matDialogClose>Close</button>
      </div>