.widthFull{
    width: 100%;
}
.ninty{
    width: 90%;
    margin: 0px 5%;
}
.half{
    width: 50%;
}
:host ::ng-deep th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
    border-bottom-style: none;
}
.newSection{
    padding-top: 2%;
    padding-bottom: 4%;
}
.showButton{
    margin: 5%;
    text-align: center;
  }

  .mat-form-field-label {
    color: white !important;
}

  html,body{
    background:#000;
    margin:0;
  }
  .centered{
    width:400px;
    height:400px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
  }
  .blob-1,.blob-2{
    width:70px;
    height:70px;
    position:absolute;
    background:#000;
    border-radius:50%;
    top:50%;left:50%;
    transform:translate(-50%,-50%);
  }
  .blob-1{
    left:20%;
    animation:osc-l 2.5s ease infinite;
  }
  .blob-2{
    left:80%;
    animation:osc-r 2.5s ease infinite;
    background:#0ff;
  }
  @keyframes osc-l{
    0%{left:20%;}
    50%{left:50%;}
    100%{left:20%;}
  }
  @keyframes osc-r{
    0%{left:80%;}
    50%{left:50%;}
    100%{left:80%;}
  }