.mainContainer{
    text-align: center;
    padding: 4%;
    font-size: 3vh;
}
.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }

  .listGlow {
    font-size: 35px;
    color: #fff;
    text-align: center;
    animation: listGlow 1s ease-in-out infinite alternate;
  }
  
  @keyframes listGlow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #2a00e6, 0 0 40px #2a00e6, 0 0 50px #2a00e6, 0 0 60px #2a00e6, 0 0 70px #2a00e6;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #4d59ff, 0 0 40px #4d59ff, 0 0 50px #4d59ff, 0 0 60px #4d59ff, 0 0 70px #4d59ff, 0 0 80px #4d59ff;
    }
  }
  .numDropDown{
      float: right
  }
  .marginLeftItem{
      width: 195px;
      margin: 1%;
  }
  .showListItems{
      text-align: center;
  }
  .newSection{
      padding-top: 2%;
      padding-bottom: 4%;
  }
  .itemSpacing{
      padding: 2% 0px;
  }
  .showButton{
    margin: 5%;
    text-align: center;
  }
  :host::ng-deep.mat-select-value-text {
    color: white;
  }

  :root {
    --dark: rgba(0, 0, 0, 0.8);
  }
  html,body{
    background:#000;
    margin:0;
  }
  .centered{
    width:400px;
    height:400px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
  }
  .blob-1,.blob-2{
    width:70px;
    height:70px;
    position:absolute;
    background:#000;
    border-radius:50%;
    top:50%;left:50%;
    transform:translate(-50%,-50%);
  }
  .blob-1{
    left:20%;
    animation:osc-l 2.5s ease infinite;
  }
  .blob-2{
    left:80%;
    animation:osc-r 2.5s ease infinite;
    background:#0ff;
  }
  @keyframes osc-l{
    0%{left:20%;}
    50%{left:50%;}
    100%{left:20%;}
  }
  @keyframes osc-r{
    0%{left:80%;}
    50%{left:50%;}
    100%{left:80%;}
  }

  @import url("https://fonts.googleapis.com/icon?family=Material+Icons");


body{
    margin:0;
  overflow:hidden;
}
body * {
  box-sizing: border-box;
}
img{
  width:100%;
}
#no-freeze-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.1s linear;
  opacity: 0;
  height: 100vh;
  transform: scale(10);
  z-index: -1;
  background: --dark;
}
.no-freeze-spinner #no-freeze-spinner {
  z-index: 9999;
  opacity: 0.5;
  transform: scale(1);
}
#no-freeze-spinner > div > div {
  animation-play-state: paused;
  border: 5px solid #42f8e9;
  border-radius: 50%;
  animation: rotate 1s infinite linear;
  /* border-left-color: rgba(200, 200, 200, 0.4); */
  border-left-color: #ff4da6;
  width: 100%;
  height: 100%;
}
#no-freeze-spinner > div {
  position: absolute;
  top: -42%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
  box-shadow: 0 0 0 2000px --dark;
  width: 60px;
  height: 60px;
  padding: 5px;
}
.no-freeze-spinner #no-freeze-spinner div div {
  animation-play-state: running;
}
@keyframes loadicons {
  0% {
    transform: scale(0) translate3d(0, 0, 0);
  }
  11% {
    transform: scale(1.2) translate3d(0, 0, 0);
  }
  22% {
    transform: scale(1) translate3d(0, 0, 0);
  }
  33% {
    transform: scale(0) translate3d(0, 0, 0);
  }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.no-freeze-spinner #no-freeze-spinner i {
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 0;
  right: -8px;
  bottom: -10px;
  margin: auto;
  width: 24px;
  height: 24px;
  line-height: 1;
  transform: scale(0) translate3d(0, 0, 0);
}
.no-freeze-spinner #no-freeze-spinner i:nth-of-type(1) {
  animation: loadicons 3s infinite ease-in-out;
}
.no-freeze-spinner #no-freeze-spinner i:nth-of-type(2) {
  animation: loadicons 3s 1s infinite ease-in-out;
}
.no-freeze-spinner #no-freeze-spinner i:nth-of-type(3) {
  animation: loadicons 3s 2s infinite ease-in-out;
}
.material-icons{
  color: #ff4da6 !important;
}