<div style="text-align: center;"> 
  <mat-form-field appearance="fill">
    <mat-label>Add your Answer</mat-label>
    <textarea [(ngModel)]="newVariable" matInput style="height: 15px;"></textarea>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input   [(ngModel)]="userName" matInput />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label># of Ingredients</mat-label>
    <mat-select
      (selectionChange)="newSelect($event)"
      [(ngModel)]="currentIngreds" multiple
    >
    <input (keyup)="onKey(searchTerm)"  [(ngModel)]="searchTerm">
      <mat-option (click)="clearSearch()" *ngFor="let item of displayList" [value]="item">
        {{ item }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div style="text-align: center;">
  <button class="marginLeftItem" mat-raised-button (click)="sumbitAnswer()">Submit</button>
  <button style="margin-left: 42%;" class="marginLeftItem" mat-raised-button matDialogClose>Close</button>
</div>
