<div *ngIf="hideStuffs" class="topnav">
  <img class="filterimg" src="../../../assets/images/icons/chef.png"
  />
  <a class="headerCent icon" (click)="showdDropDown()">
    <i class="fa fa-bars"></i>
  </a>
</div>
<div *ngIf="showdropdown" style="width: 100%" class="overlay">
  <a class="closebtn" (click)="showdDropDown()">&times;</a>
  <div class="overlay-content">
    <a (click)="reroute('home')">Home</a>
    <a (click)="reroute('landing-page')">Chopped Practice Page</a>
    <a (click)="reroute('answer-view')">Results Page</a>
    <a (click)="reroute('flavor-parring')">Flavor paring</a>
    <a (click)="reroute('flavor-parring')">Replace</a>
    <a (click)="logout()">Logout</a>
  </div>
</div>
<!-- <div>Icons made by <a href="" title="Creative Stall Premium">Creative Stall Premium</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
