<div class="buttons">
  <div class="buttonlayout">
    <button class="marginLeftItem" mat-raised-button (click)="logout()">
      Logout
    </button>
  </div>
  <div class="buttonlayout">
    <button
      class="marginLeftItem"
      mat-raised-button
      (click)="reroute('landing')"
    >
      Chopped Practice Page
    </button>
  </div>
  <div class="buttonlayout">
    <button
      class="marginLeftItem"
      mat-raised-button
      (click)="reroute('answers')"
    >
      Results Page
    </button>
  </div>
  <div class="buttonlayout">
    <button
      class="marginLeftItem"
      mat-raised-button
      (click)="reroute('flavor')"
    >
      Flavor paring
    </button>
  </div>
</div>
