<div class="paragraph">
  <h1 style="margin-top: 0px">Welcome to Cloud Kitchen Aid</h1>
  <div class="titleText">Who are we?</div>
  <div class="textText">
   We are two brothers. One a software developer the other a proffesional Chef.
  </div>
  <br />
  <div class="titleText">Why did we do this?</div>
  <div class="textText">
   We did this to help the chef grow his abilities. This site will lend it self to any area of cooking. It will also grow and to accomidate any additional requests.
   The software developer is using this site to challenge himself and use for a resume builder. 
  </div>
  <br />
  <div *ngIf="isAdmin"><button class="marginLeftItem" mat-raised-button (click)="signUp()">Signup New User</button></div>
  <div>
    Please send an email here if you have any suggestions for the site
    <a href="mailto:marc@diamantfamily.com">Email Here</a>
  </div>
</div>
<app-social-media></app-social-media>
